@model UserPasswordChangeUserViewModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="margin-top:30px; margin-left:500px; background-color:#fff; border:1px whitesmoke inset border-radius:15px; width:900px; height:700px;">
        <h2 style="text-align:center;">Şifre Değiştir</h2>
        @if(TempData["PassError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["PassError"]
            </div>
    }
        @if(TempData["PassOkey"] != null){
        <div class="alert alert-success" role="alert">
            @TempData["PassOkey"]
        </div>
        }
    <form asp-controller="Profilim" asp-action="PasswordChange" method="post" enctype="multipart/form-data">
        <div style="margin-left:930px;">
            <i class="fa-solid fa-user-tie" style="color:red; margin-left:-500px; font-size:40px;"></i>
        </div>
        <div style="float:left; justify-content:flex-start; margin-left:330px; margin-top:20px; padding:10px; border:1px whitesmoke solid; border-top-color:red; border-top-width:5px;">
            <div class="mb-3 input-field">
                <label class="form-label">Kullanıcı Adı</label>
                <input type="text" class="form-control input" value="@User.Identity.Name" readonly>
            </div>
            <div class="mb-3 input-field">
                <label class="form-label">Eski Şifre</label>
                <input type="password" class="form-control input" asp-for="OldPassword">
                <span class="text-black text-black-50" asp-validation-for="OldPassword"></span>
            </div>
            <div class="mb-3 input-field">
                <label for="comment">Yeni Şifre</label>
                <input type="password" class="form-control input" rows="15" asp-for="NewPassword"></input>
                <span class="text-black text-black-50" asp-validation-for="NewPassword"></span>
            </div>
            <div class="mb-3 input-field">
                <label class="form-label">Yeni Şifre Tekrar</label>
                <input type="password" class="form-control input" asp-for="ConfirmPassword">
                <span class="text-black text-black-50" asp-validation-for="ConfirmPassword"></span>
            </div>
            <button type="submit" class="btn btn-info" style="width:250px">Şifre Değiştir</button>

        </div>
</form>
</div>
